* {
    box-sizing: border-box;
}
body{
    background-color: #313131;
}
.title h2{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.underline{
    width: 120px;
    height: 6px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 50px;
}
.review{
    width: 40%;
    background-color: #fff;
    border-radius: 2%;
    margin: auto;
    position: relative;
    top: 25px;
    height: auto;
}
.img-container img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    top: 25px;

}
h4{
    margin-top: 30px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#job{
    padding: 10px;
}