* {
    box-sizing: border-box;
}
body{
    background-color: #313131;
}
.title h2{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;

}
.underline{
    width: 120px;
    height: 6px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 50px;
}